
.modal-background{
    width:50%;
    height:50%;
    background-color:white;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    position:center;
    position:fixed;
    padding:3%;
    display:flex;
    justify-content:center;
  }
  .modal-form{
    display:flex;
    width:90%;
    height:adaptative;
    padding:2%;
    flex-direction: column;
    justify-content:center;
  }
  .modal-form input, .modal-form select{
    margin-top:1%;
    margin-left:20px;
    border-radius:15px;
    margin-bottom:1.5%;
  }
  .buttonrow{
    display:flex;flex-direction:row;align-items:center;justify-content:space-between;margin-top:1%;
    
  }