.Container{

    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.row{
    
    display: flex;
    flex-direction: column;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    padding: 10px 30px 100px 30px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#logo{
margin-left: 20%;

}

.nom{
    font-family: 'Times New Roman', Times, serif;
   font-weight: 600;
   color: #0C9EC0;
}

#nom1{
    padding-top: 10px;
}

#nom2{
    padding-top: 10px;
}
.field{

    width: 300px;
    padding: 5px 0 5px 0;
    margin: 10px 0 5px 0;
    border: 1px solid #BBBDCD;
    border-radius: 3px;
}

#field2{

    margin-bottom: 20px;
}


.box-bouton{

    margin-top: 10px;
    text-align: center;
}
#bouton-login{

    cursor: pointer;
    background-color: #0C9EC0;
    border: 2px solid #0C9EC0;
    border-radius: 3px;
    font-weight: bold;
    color: #F5FDff;
    height: 40px;
    width: 100%;
    box-shadow: inherit;
}